{% extends 'Heat_Life_en/Main_page.html' %}
{%load static%}

{% block content_en %}

<div class="all_block">
    <h1 class="NAME">Infrared sauna</h1>
    <div class="one_block">
        <h2 class="one_block_name">What is an infrared sauna?</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s1.jpg);"></div>
        <p class="one_block_p" style="white-space: pre-wrap;">
            Infrared saunas (cabins) are used both in medical institutions, fitness centers, beauty salons, and at home.
            Infrared waves are emitted by any warm object, including the human body, and are absolutely safe for the body.
            In an infrared sauna, infrared radiation heats the body directly,
            and not air (heating the air takes no more than 20% of the energy released, whereas in a regular bath it takes up to 80%).
            As a result, the body experiences a more intense therapeutic effect than in a traditional sauna.
            Infrared waves warm tissues, organs, muscles, bones and joints, speed up the flow of blood and other body fluids.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Effect on the body</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s3.jpg);"></div>
        <p class="one_block_p" style="white-space: pre-wrap;">
            The therapeutic effects of infrared cabins are multifaceted.
            As a result of regular use of infrared procedures, the level of cholesterol in the blood decreases,
            which reduces the risk of cardiovascular diseases and stabilizes blood pressure.
            The walls of blood vessels become stronger and more elastic. The functioning of the immune system improves,
            The overall resistance of the body increases, and this in turn allows you to effectively counteract colds and flu.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Film characteristics</h2>
        <p class="one_block_p" style="white-space: pre-wrap;">
            <table class="table table-stripped" border="1">
                <tbody>
                    <tr>
                        <td><span style="font-family: Tahoma;">Film sizes<br> “HeatLife” 220/500 (1 roll)</span></td>
                        <td>Film thickness – 0.65 mm<br> Width – 40cm*2<br> Roll length – 100&nbsp;m.</td>
                    </tr>
                    <tr>
                        <td>Weight of 1&nbsp;roll “HeatLife” 220/500</td>
                        <td>45 kg.</td>
                    </tr>
                    <tr>
                        <td>Specific maximum power</td>
                        <td>500 + – 10%&nbsp;W/sq.m.</td>
                    </tr>
                    <tr>
                        <td>Film composition:</td>
                        <td>- multilayer film structure - 10 protective and&nbsp;2 carbon<br> - resistance to&nbsp;various mechanical damages;<br> - resistance to&nbsp;high temperatures<br> - working surface - 2-layer carbon, entire continuous&nbsp;area coverings.</td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td>220&nbsp;V</td>
                    </tr>
                    <tr>
                        <td>IR wavelength</td>
                        <td>7 – 14 µm</td>
                    </tr>
                    <tr>
                        <td>Features and&nbsp;advantages of “Heat Life” infrared films</td>
                        <td>- High heat transfer<br> – Environmentally friendly heat source;<br> – Does not emit electromagnetic waves harmful to humans;<br> – Preserves natural air humidity;<br> – Beneficial effect on humans;</td>
                    </tr>
                    <tr>
                        <td>Service life</td>
                        <td>More than 30 years</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 1%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: 1px;
        }

        .NAME {
            font-size: 26px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 20%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 400px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
</style>
{% endblock %}