{% extends 'Heat_Life_en/Main_page.html' %}
{%load static%}

{% block content_en %}

<div class="all_block">
    <h1 class="NAME">Drying using HEATLIFE films</h1>
    <div class="one_block">

        <h2 class="one_block_name">The process of drying food (vegetable) products</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/such_0f.jpg);"></div>
        <p class="one_block_p" style="white-space: pre-wrap;">
            Using HeatLife Heat Release Film to dry certain foods for long-term storage is very effective due to its ability to emit infrared rays.
            This makes it possible to obtain high-quality products with maximum preservation of natural taste and aroma after drying.

            Recommended types of products:

            Peppers, nuts, persimmons and other fruits, herbs, vegetables, etc.
            In the case of products such as garlic, which belong to the group of seasonings with a lot of juice, additional discussion of the issue is necessary.
            Sea kale, algae and other marine vegetation.
            Ginseng, mushrooms, medicinal plants
            Cereals and cereals.
            In the case of drying perishable products, it is necessary to additionally ensure their safety
        </p>
    </div>

    <h2 class="one_block_name">MKS - mobile drying complex</h2>
    <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/Sush_1.jpg);"></div>
    <p class="one_block_p" style="white-space: pre-wrap;">
        Wood drying technologies using infrared radiation were known more than half a century ago.
        The main obstacle to the widespread use of these technologies was high costs,
        since incandescent lamps with a power of 500 W and higher were used as infrared emitters.
        Research by scientists and practical application during drying have shown that radiant heat penetrates wood to a depth of 15 mm.
        In contrast to the convective method, the wood is heated, not the air, with the appearance of a self-moistening effect of the outer layers of wood.
        The self-moistening effect allows the technological process of removing hygroscopic moisture from solid wood without additional wetting of the agent.

        Specialists of Hit Life LLC created a product and technology for its use,
        allowing you to preserve the advantages of the method of drying wood using infrared radiation,
        developed back in the 30s of the last century, but significantly improve the results of the process.
        The improvement effect was achieved by using Heat Life film infrared heaters instead of incandescent lamps,
        cast iron stoves heated to red heat.
    </p>

    <div class="one_block">
        <h2 class="one_block_name">Drying technology</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/sush_2.jpg);"></div>
        <p class="one_block_p" style="white-space: pre-wrap;">
            The heating element of the system is a film emitter “HeatLife”,
            which can heat up to +65°C. It is assembled into panels according to the size of the stack.
            An automatic process control system regulates the temperature depending on humidity and atmospheric pressure.

            Wood from 1 to 6 meters long and HeatLife panels are stacked with spacing on a reflective metallized film so that
            so that the thickness of the lumber adjacent to each panel does not exceed 250 mm.
            Automation sensors are installed and a vapor-permeable circuit is closed, isolating the stack from atmospheric air.
            The air inside the vapor-permeable circuit has higher temperature and humidity characteristics than atmospheric air.
            A vapor-permeable membrane allows moisture to pass out, but prevents moisture from entering from the outside.
            Isolation of the agent from the atmosphere allows you to create a greenhouse effect and maintain a high temperature of the agent,
            which has a beneficial effect on the drying agent and allows you to increase its moisture capacity from 30 to 130 grams per cubic meter.
            The peculiarity of the method is that it is not the drying agent that heats the wood, but, on the contrary, the wood heats the drying agent and increases its moisture capacity.
        </p>
    </div>
</div>



<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 1%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 22px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 2%;
            /* white-space: nowrap; */
            border-bottom: 10px double #fcdb94;
            width: 97%;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 266px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
</style>
{% endblock %}