{% extends 'Heat_Life_ru/Main_page.html' %}
{%load static%}

{% block content_ru %}

<div class="all_block">
    <h1 class="NAME">Инфракрасная сауна</h1>
    <div class="one_block">
        <h2 class="one_block_name">Что такое инфракрасная сауна?</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s1.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Инфракрасная сауна (кабина) используются как в лечебных учреждениях, фитнес-центрах, салонах красоты, так и в домашних условиях.
            Инфракрасные волны излучаются любым теплым объектом, в том числе и телом человека, и являются абсолютно безопасными для организма.
            В инфракрасной сауне инфракрасное излучение нагревает непосредственно тело,
            а не воздух (на нагрев воздуха уходит не более 20% выделяемой энергии, тогда как в обычной бане – до 80%).
            В результате организм испытывает более интенсивное лечебное воздействие, чем в традиционной сауне.
            Инфракрасные волны прогревают ткани, органы, мышцы, кости и суставы, ускоряют ток крови и других жидкостей тела.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Влияние на организм</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s3.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Лечебное воздействие инфракрасных кабин многогранно.
            В результате регулярного применения инфракрасных процедур снижается содержание холестерина в крови,
            что позволяет снизить риск сердечно-сосудистых заболеваний и стабилизирует артериальное давление.
            Укрепляются и становятся более эластичными стенки сосудов. Улучшается работа иммунной системы,
            повышается общая сопротивляемость организма, а это в свою очередь позволяет эффективно противодействовать простудным заболеваниям и гриппу.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Характеристики пленки</h2>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            <table class="table table-striped" border="1">
                <tbody>
                    <tr>
                        <td><span style="font-family: Tahoma;">Размеры плен­ки<br> «HeatLife» 220/500 (1 рулон)</span></td>
                        <td>Толщина плен­ки – 0,65 мм<br> Ширина – 40см*2<br> Длина руло­на – 100&nbsp;м.</td>
                    </tr>
                    <tr>
                        <td>Вес 1&nbsp;руло­на «HeatLife» 220/500</td>
                        <td>45 кг.</td>
                    </tr>
                    <tr>
                        <td>Удельная мак­си­маль­ная мощ­ность</td>
                        <td>500 + – 10%&nbsp;Вт/кв.м.</td>
                    </tr>
                    <tr>
                        <td>Состав плен­ки:</td>
                        <td>- мно­го­слой­ная струк­ту­ра плен­ки – 10 защит­ных и&nbsp;2 кар­бо­но­вых<br> – стой­кость к&nbsp;раз­лич­ным меха­ни­че­ским повре­жде­ни­ям;<br> – устой­чи­вость к&nbsp;высо­ким тем­пе­ра­ту­рам<br> – рабо­чая поверх­ность – 2‑хслойный кар­бон, вся сплош­ная&nbsp;пло­щадь покры­тия.</td>
                    </tr>
                    <tr>
                        <td>Напряжение</td>
                        <td>220&nbsp;В</td>
                    </tr>
                    <tr>
                        <td>Длинна ИК вол­ны</td>
                        <td>7 – 14 мкм</td>
                    </tr>
                    <tr>
                        <td>Особенности и&nbsp;досто­ин­ства инфра­крас­ных пле­нок «Heat Life»</td>
                        <td>- Высокая теп­ло­пе­ре­да­ча<br> – Экологически чистый источ­ник теп­ла;<br> – Не излу­ча­ет вред­ные для чело­ве­ка элек­тро­маг­нит­ные вол­ны;<br> – Сохраняет есте­ствен­ную влаж­ность воз­ду­ха;<br> – Благоприятное&nbsp;воз­дей­ствие на чело­ве­ка;</td>
                    </tr>
                    <tr>
                        <td>Срок служ­бы</td>
                        <td>Более 30 лет</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 1%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: 1px;
        }

        .NAME {
            font-size: 26px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 20%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 400px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
</style>
{% endblock %}