{% extends 'Heat_Life_ru/Main_page.html' %}
{%load static%}

{% block content_ru %}

<div class="all_block">
    <h1 class="NAME">Просушивание с использованием пленок HEATLIFE</h1>
    <div class="one_block">

        <h2 class="one_block_name">Процесс высушивания пищевых (растительных) продуктов</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/such_0f.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Использование тепловыделяющей пленки HeatLife при высушивании некоторых продуктов для длительного хранения очень эффективно благодаря ее способности излучать инфракрасные лучи.
            Это дает возможность получить высококачественные продукты с максимальным сохранением природного вкуса и аромата после высыхания.

            Рекомендуемые виды продуктов:

            Перец, орехи, хурма и другие фрукты, зелень, овощи и т.п.
            В случае таких продуктов, как чеснок, относящихся к группе приправ с большим количеством сока необходимо дополнительное обсуждение вопроса.
            Морская капуста, водоросли и др. морская растительность.
            Женьшень, грибы, лекарственные растения
            Зерновые и крупы.
            В случае сушки скоропортящихся продуктов необходимо дополнительно обеспечить их сохранность
        </p>
    </div>

    <h2 class="one_block_name">МКС - мобильный комплекс сушки</h2>
    <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/Sush_1.jpg);"></div>
    <p class="one_block_p" style=" white-space: pre-wrap;">
        Технологии сушки древесины с использованием инфракрасного излучения были известны уже более полувека назад.
        Основным тормозом в широком использовании данных технологий были высокие издержки,
        поскольку в качестве инфракрасных излучателей использовались лампы накаливания мощностью от 500 Вт и выше.
        Исследования учёных и практическое применение при сушке показали , что лучистая теплота проникает в древесину на глубину до 15 мм.
        В отличие от конвективного метода происходит разогрев древесины, а не воздуха с появлением эффекта самоувлажнения наружных слоёв древесины.
        Эффект самоувлажнения позволяет проводить технологический процесс удаления из массива древесины гигроскопической влаги без дополнительного увлажнения агента.

        Специалистами компании ООО «Хит Лайф» был создан продукт и технология его применения,
        позволяющий сохранить достоинства метода сушки древесины инфракрасным излучением,
        разработанного еще в 30х годах прошлого века, но значительно улучшить результаты процесса.
        Эффект улучшения был достигнут при использовании пленочных инфракрасных обогревателей «Heat Life» вместо ламп накаливания,
        разогретых до красного каления чугунных плит.
    </p>

    <div class="one_block">
        <h2 class="one_block_name">Технология сушки</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/sush_2.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Нагревательным элементом системы является пленочный излучатель «HeatLife»,
            который может нагреваться до +65°С. Он собирается в щиты по размеру штабеля.
            Автоматическая система контроля за ходом технологического процесса, регулирует температурный режим в зависимости от влажности и атмосферного давления.

            Древесина длиной от 1 до 6 метров и щиты «HeatLife» укладываются в штабель со шпациями на отражающую металлизированную пленку так,
            чтобы толщина пиломатериала, примыкающая к каждому щиту не превышала 250 мм.
            Устанавливаются датчики автоматики и замыкается паропроницаемый контур, изолирующий штабель от атмосферного воздуха.
            Воздух внутри паропроницаемого контура обладает более высокими характеристиками по температуре и влажности чем атмосферные.
            Паропроницаемая мембрана пропускает влагу наружу, но препятствует попаданию влаги извне.
            Изоляция агента от атмосферы позволяет создать эффект парника и поддерживать высокую температуру агента,
            что благотворно влияет на сушильный агент и позволяет повысить его влагоёмкость с 30 до 130 грамм на метр кубический.
            Особенностью метода является то, что не сушильный агент нагревает древесину, а наоборот, древесина нагревает сушильный агент, и увеличивает его влагоёмкость.
        </p>
    </div>
</div>



<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 20%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 22px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 2%;
            /* white-space: nowrap; */
            border-bottom: 10px double #fcdb94;
            width: 97%;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 266px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
</style>
{% endblock %}