{% extends 'Heat_Life_gr/Main_page.html' %}
{%load static%}

{% block content_gr %}

<div class="all_block">
    <h1 class="NAME">Υπέρυθρη σάουνα</h1>
    <div class="one_block">
        <h2 class="one_block_name">Τι είναι η υπέρυθρη σάουνα;</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s1.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Οι υπέρυθρες σάουνες (καμπίνες) χρησιμοποιούνται τόσο σε ιατρικά ιδρύματα, γυμναστήρια, σαλόνια ομορφιάς και στο σπίτι.
            Τα υπέρυθρα κύματα εκπέμπονται από οποιοδήποτε θερμό αντικείμενο, συμπεριλαμβανομένου του ανθρώπινου σώματος, και είναι απολύτως ασφαλή για το σώμα.
            Σε μια υπέρυθρη σάουνα, η υπέρυθρη ακτινοβολία θερμαίνει απευθείας το σώμα,
            και όχι αέρα (η θέρμανση του αέρα δεν παίρνει περισσότερο από το 20% της εκλυόμενης ενέργειας, ενώ σε ένα κανονικό μπάνιο παίρνει έως και 80%).
            Ως αποτέλεσμα, το σώμα βιώνει ένα πιο έντονο θεραπευτικό αποτέλεσμα από ότι σε μια παραδοσιακή σάουνα.
            Τα υπέρυθρα κύματα θερμαίνουν τους ιστούς, τα όργανα, τους μύες, τα οστά και τις αρθρώσεις, επιταχύνουν τη ροή του αίματος και άλλων σωματικών υγρών.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Επίδραση στο σώμα</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/s3.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Τα θεραπευτικά αποτελέσματα των καμπινών υπέρυθρης ακτινοβολίας είναι πολύπλευρα.
            Ως αποτέλεσμα της τακτικής χρήσης υπέρυθρων διαδικασιών, το επίπεδο χοληστερόλης στο αίμα μειώνεται,
            που μειώνει τον κίνδυνο καρδιαγγειακών παθήσεων και σταθεροποιεί την αρτηριακή πίεση.
            Τα τοιχώματα των αιμοφόρων αγγείων γίνονται ισχυρότερα και πιο ελαστικά. Η λειτουργία του ανοσοποιητικού συστήματος βελτιώνεται,
            Η συνολική αντίσταση του σώματος αυξάνεται και αυτό με τη σειρά του σας επιτρέπει να αντιμετωπίσετε αποτελεσματικά το κρυολόγημα και τη γρίπη.
        </p>
    </div>

    <div class="one_block">
        <h2 class="one_block_name">Χαρακτηριστικά ταινίας</h2>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            <table class="table table-striped" border="1">
                <tbody>
                    <tr>
                        <td><span style="font-family: Tahoma;">Μεγέθη φιλμ<br> «HeatLife» 220/500 (1 ρολό)</span></td>
                        <td>Πάχος φιλμ – 0,65 mm<br> Πλάτος – 40 cm*2<br> Μήκος ρολού - 100&nbsp;μ</td>
                    </tr>
                    <tr>
                        <td>Βάρος 1&nbsp;ρολού «HeatLife» 220/500</td>
                        <td>45 κιλό.</td>
                    </tr>
                    <tr>
                        <td>УΕιδική μέγιστη ισχύς</td>
                        <td>500 + – 10%&nbsp;W/τ.μ.</td>
                    </tr>
                    <tr>
                        <td>Σύνθεση ταινίας:</td>
                        <td>- Δομή μεμβράνης πολλαπλών στρώσεων – 10 προστατευτικά και&nbsp;2 άνθρακαςх<br> – αντίσταση σε&nbsp;διάφορες μηχανικές βλάβες.;<br> αντίσταση σε&nbsp;вυψηλές θερμοκρασίες<br> – επιφάνεια εργασίας – άνθρακας 2 στρώσεων, όλα στερεά&nbsp;περιοχή κάλυψης.</td>
                    </tr>
                    <tr>
                        <td>Τάση</td>
                        <td>220&nbsp;β</td>
                    </tr>
                    <tr>
                        <td>Длинна ИК вол­ны</td>
                        <td>7 – 14 μm</td>
                    </tr>
                    <tr>
                        <td>Χαρακτηριστικά και&nbsp;πλεονεκτήματα των φιλμ υπέρυθρων «Heat Life»</td>
                        <td>- Υψηλή μεταφορά θερμότητας<br> – Δεν εκπέμπει ηλεκτρομαγνητικά κύματα;<br> – επιβλαβή για τον άνθρωπο;<br> – Διατηρεί τη φυσική υγρασία του αέρα.;<br> – Ευνοϊκός&nbsp;επιπτώσεις στους ανθρώπους·;</td>
                    </tr>
                    <tr>
                        <td>καλύτερο πριν από την ημερομηνία</td>
                        <td>Περισσότερα από 30 χρόνια</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 1%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: 1px;
        }

        .NAME {
            font-size: 26px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 20%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 400px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
</style>
{% endblock %}