{% extends 'Heat_Life_gr/Main_page.html' %}
{%load static%}

{% block content_gr %}

<div class="all_block">
    <h1 class="NAME">Στέγνωμα με φιλμ HEATLIFE</h1>
    <div class="one_block">

        <h2 class="one_block_name">Η διαδικασία ξήρανσης τροφίμων (φυτικών) προϊόντων</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/such_0f.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
            Η χρήση μεμβράνης απελευθέρωσης θερμότητας HeatLife για να στεγνώσει ορισμένα τρόφιμα για μακροχρόνια αποθήκευση είναι πολύ αποτελεσματική λόγω της ικανότητάς του να εκπέμπει υπέρυθρες ακτίνες.
            Αυτό καθιστά δυνατή την απόκτηση προϊόντων υψηλής ποιότητας με μέγιστη διατήρηση της φυσικής γεύσης και του αρώματος μετά την ξήρανση.

            Προτεινόμενοι τύποι προϊόντων:

            Πιπεριές, ξηρούς καρπούς, λωτούς και άλλα φρούτα, βότανα, λαχανικά κ.λπ.
            Στην περίπτωση προϊόντων όπως το σκόρδο, που ανήκουν στην ομάδα των καρυκευμάτων με πολύ χυμό, απαιτείται επιπλέον συζήτηση του θέματος.
            Θαλάσσιο λάχανο, φύκια και άλλη θαλάσσια βλάστηση.
            Τζίνσενγκ, μανιτάρια, φαρμακευτικά φυτά
            Δημητριακά και δημητριακά.
            Στην περίπτωση ξήρανσης ευπαθών προϊόντων, είναι απαραίτητο να εξασφαλιστεί επιπλέον η ασφάλειά τους
        </p>
    </div>

    <h2 class="one_block_name">κσσ - κινητό συγκρότημα στεγνώματος</h2>
    <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/Sush_1.jpg);"></div>
    <p class="one_block_p" style=" white-space: pre-wrap;">
        Οι τεχνολογίες ξήρανσης ξύλου που χρησιμοποιούν υπέρυθρη ακτινοβολία ήταν γνωστές πριν από περισσότερο από μισό αιώνα.
        Το κύριο εμπόδιο για την ευρεία χρήση αυτών των τεχνολογιών ήταν το υψηλό κόστος,
        αφού ως εκπομποί υπέρυθρων χρησιμοποιήθηκαν λαμπτήρες πυρακτώσεως ισχύος 500 W και άνω.
        Έρευνες από επιστήμονες και πρακτική εφαρμογή κατά την ξήρανση έχουν δείξει ότι η ακτινοβολούμενη θερμότητα διεισδύει στο ξύλο σε βάθος 15 mm.
        Σε αντίθεση με τη μέθοδο μεταφοράς, το ξύλο θερμαίνεται και όχι ο αέρας, με την εμφάνιση ενός εφέ αυτοδιαβροχής των εξωτερικών στρωμάτων ξύλου.
        Το αποτέλεσμα αυτο-ύγρανσης επιτρέπει την τεχνολογική διαδικασία αφαίρεσης υγροσκοπικής υγρασίας από μασίφ ξύλο χωρίς επιπλέον διαβροχή του παράγοντα.

        Οι ειδικοί της Hit Life LLC δημιούργησαν ένα προϊόν και μια τεχνολογία για τη χρήση του,
        επιτρέποντάς σας να διατηρήσετε τα πλεονεκτήματα της μεθόδου ξήρανσης ξύλου με υπέρυθρη ακτινοβολία,
        αναπτύχθηκε στη δεκαετία του '30 του περασμένου αιώνα, αλλά βελτιώνει σημαντικά τα αποτελέσματα της διαδικασίας.
        Το αποτέλεσμα βελτίωσης επιτεύχθηκε με τη χρήση θερμαντικών υπέρυθρων φιλμ Heat Life αντί για λαμπτήρες πυρακτώσεως,
        σόμπες από χυτοσίδηρο που θερμαίνονται σε κόκκινη φωτιά.
    </p>

    <div class="one_block">
        <h2 class="one_block_name">Τεχνολογία ξήρανσης</h2>
        <div class="one_block_img" style="background-image: url(/static/Heat_Life/img/pages/sush_2.jpg);"></div>
        <p class="one_block_p" style=" white-space: pre-wrap;">
Το ξύλο μήκους από 1 έως 6 μέτρα και τα πάνελ HeatLife στοιβάζονται με απόσταση σε μια ανακλαστική επιμεταλλωμένη μεμβράνη έτσι ώστε
ώστε το πάχος της ξυλείας δίπλα σε κάθε πάνελ να μην υπερβαίνει τα 250 mm.
Εγκαθίστανται αισθητήρες αυτοματισμού και κλείνει ένα διαπερατό από ατμούς κύκλωμα, απομονώνοντας τη στοίβα από τον ατμοσφαιρικό αέρα.
Ο αέρας μέσα στο διαπερατό από ατμούς κύκλωμα έχει υψηλότερα χαρακτηριστικά θερμοκρασίας και υγρασίας από τον ατμοσφαιρικό αέρα.

Μια διαπερατή από ατμούς μεμβράνη επιτρέπει στην υγρασία να περάσει, αλλά αποτρέπει την είσοδο υγρασίας από το εξωτερικό.
Η απομόνωση του παράγοντα από την ατμόσφαιρα σάς επιτρέπει να δημιουργήσετε ένα φαινόμενο θερμοκηπίου και να διατηρήσετε υψηλή θερμοκρασία του παράγοντα,
που έχει ευεργετική επίδραση στο ξηραντικό και σας επιτρέπει να αυξήσετε την ικανότητα υγρασίας του από 30 σε 130 γραμμάρια ανά κυβικό μέτρο.
Η ιδιαιτερότητα της μεθόδου είναι ότι δεν είναι το ξηραντικό που θερμαίνει το ξύλο, αλλά, αντίθετα, το ξύλο θερμαίνει το ξηραντικό και αυξάνει την ικανότητα υγρασίας του.
        </p>
    </div>
</div>



<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @media screen and (min-width: 525px) {
        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: fit-content !important;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 678px;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 36px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 1%;
            white-space: nowrap;
            border-bottom: 10px double #fcdb94;
            width: fit-content;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 7%;
            display: flex;
            width: 1369px;
            margin-left: 14%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 27px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 10px;
            white-space: nowrap;
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: fit-content;
        }

        .one_block_img {
            height: 600px;
            width: 900px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: pre-wrap;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
  }

    @media screen and (max-width: 525px) { /*МОБИЛЬНАЯ*/

        footer {
            display: flex;
            position: relative;
            margin-top: 0.5% !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }

        html {
            height: 3334.8px !important;
            width: 421.39px;
        }

        .table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            width: 90%;
            text-align: left;
            border-collapse: collapse;
            background: #ffffff45;
            font-size: 17px;
            font-weight: 500;
            margin-left: 10px;
            white-space: pre-wrap;
            color: #636363;
            margin-left: 27px;
            margin-top: -50px;
        }

        .NAME {
            font-size: 22px;
            font-family: math;
            color: #494949d9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 2%;
            /* white-space: nowrap; */
            border-bottom: 10px double #fcdb94;
            width: 97%;
            margin-top: 19px;
        }

        .all_block {
            margin-top: 18%;
            display: flex;
            width: 100%;
            margin-left: -1%;
            box-shadow: -1px 4px 8px 0 rgba(34, 60, 80, 0.2);
            flex-direction: column;
        }

        .one_block {
        }

        .one_block_name {
            font-size: 18px;
            font-family: monospace;
            color: #362a2ed9;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 8px;
            /* white-space: nowrap; */
            margin-top: 20px;
            border-bottom: 2px solid #fcdb94;
            width: 398px;
        }

        .one_block_img {
            height: 266px;
            width: 400px;
            background-size: cover;
            margin-left: 1%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .one_block_p {
            font-size: 18px;
            font-family: system-ui;
            /* font-family: "Roboto", sans-serif; */
            color: #362a2e;
            font-weight: 400;
            margin-left: 10px;
            white-space: normal !important;
        }

        footer {
            display: flex;
            position: relative;
            top: 20px !important;
            flex-direction: row;
            border-top: 1px dashed #9E9E9E;
            justify-content: space-evenly;
        }
    }
  
</style>
{% endblock %}